extends layout

block content 

  div.left_panel
    img#pictureLogo(src='../images/logo-transparent2.png')
  
  div.right_panel
    div.title_desc AfterThree is an after-school activities crowdsourcing platform.
    br

    #message
      if message
        h2.text-center.error-message #{message}

    div.index_message Not a user yet?
      input#signupButton(type='button', value='Sign up now')
      br
  
block index_navbar
  div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    div.container-fluid
      div.navbar-header
        a(href="/main") 
          img#afterthreelogo(src='../images/afterthree_logo_white.png')

      div#navbar
        ul.nav.navbar-nav.navbar-right
          li
            a#loginButton Log In


block content_modal
  div.greyedOutOverlay
  div.modal
