extends layout

block content_navbar

  div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    div.container-fluid
      div.navbar-header
        button.navbar-toggle(aria-controls="navbar", data-target="#navbar", data-toggle="collapse", type="button", aria-expanded="false")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a(href="/main") 
          img#afterthreelogo(src='../images/afterthree_logo_white.png')


      div#navbar.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          if user.name
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")#helloMessage Hello, #{user.name}!
              ul.dropdown-menu
                li
                  a(href="/logout") Log Out

        ul.nav.navbar-nav.navbar-right
          li
            a(href="/suggest") Suggest   

        ul.nav.navbar-nav.navbar-right
          li
            a(href="/gettingstarted") Getting Started  

        ul.nav.navbar-nav.left-nav
          li   
            a(href="/leaderboard") Leaderboard
          li
            a(href="/upcoming") Upcoming Events
          li
            a(href="/myEvents") My Events
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown") Categories 
              b.caret
            ul.dropdown-menu
              li
                a.filter(data-filter='.category1') Sports
              li
                a.filter(data-filter='.category2') Arts
              li
                a.filter(data-filter='.category3') Science/Tech
              li
                a.filter(data-filter='.category4') Business
              li
                a.filter(data-filter='.category5') Health
              li
                a.filter(data-filter='.category6') Other

block content
  h1= title
  block content_extra
  div(style="clear:right;")
  section#eventsWrapper
    div.userid #{user._id}
    div.username(style='display:none;') #{user.name}
    block content2

block content_scripts
  script(type='text/javascript').
    $(function(){
      $('#eventsWrapper').mixItUp();

      //change active li on click
      $(".left-nav li").click(function() {
        $(".left-nav li").removeClass("active");
        $(this).addClass("active");
      });     

    });





