extends main

block content2
	div.notif_container.container
		h2.notifcenter Notification Center
		if notifs.length
			each no in notifs
				div.notification #{no.text}
		else
			div.notification No Notifications

block content_scripts
	script(type='text/javascript').
		$(function(){
			$('.notification').each(function(n){
				if ($(this).text().indexOf("sponsored by") > -1){
					$(this).css("color", "#f2a3bd");
				} else if ($(this).text().indexOf("scheduled for") > -1){
					$(this).css("color", "#d6d963");
				}
			});
		});